page-ajustes {


.claseItem{
	
background-color: white !important;
    border-bottom: solid 0.5px;
    color: #3d3f4a;
    padding: 8px;
        padding-left: 16px;
    font-size: 16px;
    border-color: rgba(175, 175, 175, 0.8);
}

.toggle-ios.toggle-checked .toggle-icon {
    background-color:#2FD99B !important;
}



.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: solid 0.5px;

    border-color: rgba(175, 175, 175, 0.8);
}


}
