page-buscar-modal {




.content-ios {
    background-color: rgb(247,248,249);
}


.item-checkbox {

    border-bottom: 0px !important;
}

.checkbox-ios .checkbox-checked {

    border-radius: 3px;
    background: #EC527E;
    border:none;
}


.checkbox-ios .checkbox-checked .checkbox-inner {
left: 10px !important;
    top: 3px !important;
    width: 7px !important;
    height: 14px !important;
    } 


    .checkbox-ios .checkbox-icon {

    border-radius: 3px;
}

.checkbox-ios .checkbox-icon {

    width: 26px;
    height: 26px;

     }



}
