page-opiniones {


.content-ios {
    background-color: rgb(247,248,249);
}




.itemComercio{
	
	    font-size: 15px;
    color: #999;
    display: block;
    margin: 4px 0px;

}


.separator{
    
        height: 2px;
    background: rgba(230, 230, 230, 0.74);
    margin-left: 32px;
    margin: 18px 32px;
}



}
