<!--
  Generated template for the OpinionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>


      <ion-buttons start>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>



    <ion-title>Opiniones</ion-title>
  </ion-navbar>




<ion-segment mode="md" [(ngModel)]="section">
    <ion-segment-button   style='font-size: 15px;text-transform: none !important;' value="one" >
         <span> 
         <img  *ngIf='section=="one"' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/estrellaBlanca.png">
         <img  *ngIf='!(section=="one")' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/estrellaGris.png">
          Pendientes</span>
      </ion-segment-button>



      <ion-segment-button  value="two" style='
      font-size: 15px;text-transform: none !important;' >
      <span>
        <img  *ngIf='section=="two"' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/checkBlanco.png"> 
        <img  *ngIf='!(section=="two")'  style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/agregadosGris.png"> 

        

        Agregadas
         </span>
      </ion-segment-button>
</ion-segment>




</ion-header>


<ion-content style='background-color: #fafafa !important'>







<div [ngSwitch]="section">
    <ion-list mode="md" *ngSwitchCase="'one'">

 <div class='noResultado' *ngIf="(opiniones | filtrofav: filterFav)?.length === 0" >No hay opiniones pendientes</div> 


		<ion-card *ngFor="let n of opiniones | filtrofav: filterFav" >

		<ion-card-content>
				<div style="
				display: inline-block;    width: 100%;
				">
				<img src="http://50.116.17.150:3000/{{n.idFoto}}" 
        onError="this.src='assets/imgs/fotoComercio.png';" style="
				display: inline-block;
				height: 90px;
				width: 90px !important;
				vertical-align: top;
				">
				<div style="    display: inline-block;
    width: calc(100% - 105px);
    margin-left: 10px;
				">
				<span style="margin: 2px 0px 0px 0px;
				font-size: 16px;
				color: #333;">{{n.nombre}}</span>


				<span style='    margin-top: 0px;' class="itemComercio" >

					<span style="margin-right: 15px"><ion-icon style='margin-right: 5px; ' name="md-calendar"></ion-icon>{{n.horaFinalEsperado?.split('T')[0] | date}}</span>

					<span style="     color: #EC527E;   ">${{n.precioEsperado}}</span>

          <div style="margin-top: 12px;">
  <button  (click)='evaluar(n)' style='background-color: #2FD99B' ion-button small >Calificar</button>  

    <button  (click)='irReserva(n.idCita)' style='background-color: #2FD99B' ion-button small >ver reserva</button>  

</div>
				</span>

				</div>
				</div>

		</ion-card-content>
		</ion-card>








    </ion-list>

    <ion-list  mode="md" *ngSwitchCase="'two'">


 <div class='noResultado' *ngIf="(opiniones | filtrofav: filterFav2)?.length === 0" >No has opinado sobre ningun negocio aun</div> 

<div *ngFor="let n of opiniones | filtrofav: filterFav2"> 


<div   style="
margin-top:10px;
    width: 100%;
    display: inline-block;    padding-left: 15px;
    padding-right: 15px;
">
  
  <img src="http://50.116.17.150:3000/{{n.idFoto}}" 
        onError="this.src='assets/imgs/fotoComercio.png';" style="
    display: inline-block;
    vertical-align: top;
    height: 54px;
    width: 54px;
">
  <div style="
    display: inline-block;
    width: calc(100% - 83px);
    margin-left: 14px;
">
<span style="
    color: #888;
    font-size: 13px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    ">{{n.timeAgo}}</span>

    <span (click)='verOpinion(n)' style="
    font-size: 16px;
    color:  #333;
">{{n.nombre}}



    </span>
    <div style="width: 100%;
    display: inline-block;
    margin-top: 5px;">
    <div (click)='verOpinion(n)' style="   display: inline-block;">
      
          <span style="
    
    font-size: 17px;
    margin-top: 4px;
    color: #999;display: inline-block;
    ">
                  <ion-icon [ngClass]="{'ratingStar': n.puntuacion>= 1}" class=" icon icon-ios ion-ios-star" name="star" role="img" aria-label="star" ng-reflect-name="star"></ion-icon>
                  <ion-icon [ngClass]="{'ratingStar': n.puntuacion>= 2}" class=" icon icon-ios ion-ios-star" name="star" role="img" aria-label="star" ng-reflect-name="star"></ion-icon>
                  <ion-icon [ngClass]="{'ratingStar': n.puntuacion>= 3}" class=" icon icon-ios ion-ios-star" name="star" role="img" aria-label="star" ng-reflect-name="star"></ion-icon>
                  <ion-icon [ngClass]="{'ratingStar': n.puntuacion>= 4}" class=" icon icon-ios ion-ios-star" name="star" role="img" aria-label="star" ng-reflect-name="star"></ion-icon>
                  <ion-icon [ngClass]="{'ratingStar': n.puntuacion>= 5}" class=" icon icon-ios ion-ios-star" name="star" role="img" aria-label="star" ng-reflect-name="star"></ion-icon>
                  </span>  


    </div>

 <button (click)='irReserva(n.idCita)' style='font-size: 13px;
    float: right;    border-color: #2FD99B !important;
    color: #2FD99B !important;' ion-button outline small >ver orden</button>
<!--     <span style="
    color: #888;
    font-size: 13px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    " (click)='irReserva(n.idCita)'>ver orden</span> -->
</div>

<!--     <p style="
    margin-right: 35px;
    line-height: 19px;
    color: #999;
">{{n.comentario}}</p> -->
  </div>

          <div style="margin-top: 13px;color: darkgray">{{n.comentario}}</div>
          <div style="margin-top: 13px;color: darkgray;display: inline-flex;padding-left: 20px;" *ngIf='n.respuestaCentro' >
              <img src="http://50.116.17.150:3000/{{n.idFoto}}" 
              onError="this.src='assets/imgs/fotoComercio.png';" style="
              display: inline-block;
              vertical-align: top;
              height: 25px;
              width: 25px;
              "> <div style="    padding-left: 15px;">{{n.respuestaCentro}}</div>
          </div>
</div>




<div class="separator"></div>
</div>




    </ion-list>

</div>

  <div *ngIf='!opiniones' style="text-align: center;padding-top: 25%;">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
</ion-content>
