<!--
  Generated template for the ConfirmarReservaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Confirmar Reserva</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style='    background-color: #fafafa !important; ' >



<div style="
    display: inline-block;    width: 100%;padding: 10px;    border-bottom: solid 2px #ececec;
">
	<img src="http://50.116.17.150:3000/{{dataCentro.data?.idFoto}}" 
        onError="this.src='assets/imgs/fotoComercio.png';"  style="
    display: inline-block;
    height: 90px;
    width: 90px !important;
    vertical-align: top;
">
	<div style="
    display: inline-block;
/*    width: calc(100% - 114px);*/
    margin-left:  10px;
">
		<span style="margin: 2px 0px 0px 0px;
    font-size: 18px;
    color: #333;">{{dataCentro.data?.nombre}}</span>
    <span class="itemComercio"></span>
		<span class="itemComercio">{{dataCentro.data?.direccion}}</span>

            <span class="itemComercio" style="margin-top:10px !important">
       <ion-icon style='margin-right: 5px' name="contact"></ion-icon>
        <span style="color:#666 !important">{{dataCentro?.nombreStaff}}</span>
    </span>


		<!-- <span class="itemComercio">City Name, Country</span> -->
		<span class="itemComercio" style="margin-top:10px !important">Fecha <span style="margin-left: 10px;color:#EC527E !important">{{dataCentro?.fecha}}</span></span>
    <span *ngIf="dataCentro.fechaInicio && dataCentro.fechaFinal"  class="itemComercio" style="margin-top:10px !important">
      Hora 
        <span style="margin-left: 10px;color:#EC527E !important;    font-size: 12px;">
      {{getDattt(dataCentro.fechaInicio)}} - {{getDattt(dataCentro.fechaFinal)}}
      </span>
     </span>

 





   <!--              <span class="itemComercio" style="margin-top:10px !important">Hora Inicio<span style="margin-left: 10px;color:#EC527E !important">{{dataCentro?.hora}}</span></span>

                 <span class="itemComercio" style="margin-top:10px !important">Finalizacion aprox. <span style="margin-left: 10px;color:#EC527E !important">{{dataCentro?.horaF}}</span></span> -->




	</div>


	</div>






<div *ngFor="let n of dataCentro.servicios;let index=index; let odd=odd; let even=even;" 
style="width: 100%; display: inline-block;" [ngClass]="{ odd: odd, even: even }">
	

	<div style="
    display: inline-block;
    width: 100%;padding: 16px;    border-bottom: solid 2px #ececec;
 
">




		<span style="
    font-size: 18px;
    color:  #333;
">{{n.nombre}}</span>

	<div style="    margin-top: 10px;">

    <span *ngIf='n.oferta' style="color: #555 !important;font-size: 16px;  text-decoration: line-through;">${{n.precio}}</span>
    <span style="color: #EC527E !important;font-size: 15px;">${{n.precioFinal}}</span>

    <span style="margin-right: 20px;     margin-left: 24px;   color: #333;
    font-size: 12px;">
    <ion-icon style='margin-right: 5px' name="ios-time-outline"></ion-icon>
    {{n.duracion}} min
    </span>

    </div>

	</div>




</div>




	<div style="
   padding: 16px;
"><span style="
    font-size: 16px;
    color: #999;
">Total</span> <span style="
    color: #EC527E !important;
    font-size: 16px;
    float: right;

">${{dataCentro?.total}}</span>



</div>

	 <ion-item style='padding: 0px !important;'>
  <ion-textarea  style='      color: #777;
    background: white;
    height: 136px;
    margin: 16px;
    font-size: 14px;
    padding: 12px;' placeholder="Nota para {{dataCentro.data?.nombre}} (opcional)" 
      [(ngModel)]="dataCentro.notaCita" name="note" autocomplete="on" autocorrect="on"></ion-textarea>
 </ion-item>












</ion-content>

<ion-footer style='padding: 16px;'>
    <button (click)='confirmacionLista()' style=" " ion-button class="botonVerdeFulls">Confirmar Reserva</button>



</ion-footer>
