<!--
  Generated template for the ModalServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

<ion-navbar color='verdeApp'>
    <ion-title><span style='position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    font-weight: 500;'>Agregar mas servicios</span></ion-title>

    <ion-buttons end>
    <button style="    font-size: 34px;" ion-button (click)="closeModal()"><ion-icon ios="ios-close"></ion-icon></button>


    </ion-buttons>
</ion-navbar>

</ion-header>


  <ion-content >

    <ion-list class="accordion-list">
        <div  *ngFor="let serviciosCategoria2 of categoriasServicio; let ii = index">
            <span class="tituloCat">{{serviciosCategoria2[0].nombreCategoria}}</span>
        <ion-item  (click)='addCarrito(child)' *ngFor="let child of serviciosCategoria2; let i = index"  ion-item detail-none class="child-item  section-active section" text-wrap >
        <!-- 
        NEW
 -->
        <ion-icon *ngIf="child.selected" style='position: absolute;
        right: 10px;
        font-size: 25px;
        top: 22px;
        color: #2FD99B;' name='ios-checkbox'></ion-icon>
       
        <h2>{{ child.nombre }}</h2>
        <p > <span style="  text-transform: none !important;
        font-size: 15px;
        margin: 0px;
        margin-top: 8px;
        display: block;
        margin-bottom: 4px;"  >
        <ion-icon name="ios-time-outline"></ion-icon> {{ child.duracion }}min
        </span>
        </p>


        <div *ngIf='cuponActivo.length>0 || child.oferta' style="    margin: 4px;
        font-size: 15px;
        color: #777;
        position: absolute;
        right: 0;
        margin-right: 40px;
        margin-top: -20px;
        text-decoration: line-through;" item-end>
        <span *ngIf='cuponActivo.length>0  && !child.oferta'>
        <span *ngIf="(cuponActivo[0].tipo=='1') && (cuponActivo[0].serviciosCupon.split(',').includes(child.idServicio.toString()))" >
          ${{ child.precio }}
        </span>
          <span *ngIf='cuponActivo[0].tipo=="2"'>
          ${{ child.precio }}
        </span>
        </span>
        <span *ngIf='child.oferta'>${{ child.precio }}</span>  
        </div>

        <div *ngIf='cuponActivo.length>0 || child.oferta' style="font-size: 15px;
    color: #EC527E;
    margin-top: 23px;
       margin-right: 22px;
    margin-left: 0px;" item-end>

        <span *ngIf="(cuponActivo.length>0) && !(child.oferta)">
        ${{ getPrecioDescuento(child)}}
        </span>

        <span *ngIf="child.oferta">
        <span *ngIf="(cuponActivo.length>0)">
        ${{ getPrecioDescuento(child)}}
        </span>

        <span *ngIf="!(cuponActivo.length>0)">
        ${{child.oferta}}
        </span>

        </span>

        </div>

        <div *ngIf='!(cuponActivo.length>0) && !child.oferta' style="margin: 4px;
        margin-right: 21px;
        font-size: 15px;
        color: #EC527E;" item-end>${{ child.precio }}</div>



        </ion-item>
    </div>
  	 </ion-list>



  </ion-content>
<!-- <ion-footer><div style="text-align: center;
    margin: 9px;
    color: #6f6c6c;">Si deseas agregar servicios relacionados a otra categoria por favor realizar una reserva diferente</div></ion-footer> -->


