page-detalle-reserva {





.citaE4{
        background-color:  #f75669 !important;
  
    
    }
.citaE0{
        background-color: #efd801 !important;

        }
.citaE1{
        background-color:  #5072C0 !important; 
        }

.citaE2{
background-color:  #FFC859 !important;
 }

.citaE3{ 
background-color:  #2FD99B !important;
 }

 

.content-ios {
    background-color: rgb(247,248,249);
}

.parrafoHead{
	    color: #333;
    line-height: 20px;
    margin-bottom: 25px;
}

.itemComercio{
	
	    font-size: 15px;
    color: #999;
    display: block;
    margin: 4px 0px;

}

.tituloBook{
	
    font-size: 16px;
    width: 110px;
    color: #222;
    display: inline-block;
}

.subBook{
	
	    font-size: 16px;
    color: #444;
    display: inline-block;
}
.separator{
	
	    height: 2px;
    background: rgba(230, 230, 230, 0.74);
    margin-left: 32px;
    margin: 18px 32px;
}


}
