



<ion-content style='    background-color: #84EDC8;'>


<!--    <button style="    position: absolute;
    background: transparent;
    color: #444;
    font-size: 27px;
    height: 45px;
    right: 10px;
    top: 10px" ion-button class='button' (click)="closeModals()"><ion-icon ios="ios-close"></ion-icon></button>

 -->

<div *ngIf='st4' [ngClass]="{ 'cannon': st4 }">


		<div class="cannon__path cannon__path--sm cannon__path--angle-7">
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-1"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>

		<div class="cannon__path cannon__path--sm cannon__path--angle-6">
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-4"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>

		<div class="cannon__path cannon__path--sm cannon__path--angle-5">
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-4"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>


	<div class="cannon__path cannon__path--sm cannon__path--angle-2">
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-1"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>
	<div class="cannon__path cannon__path--md cannon__path--angle-1">
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-4"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>
	<div class="cannon__path cannon__path--lg cannon__path--angle0">
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-4"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>
	<div class="cannon__path cannon__path--md cannon__path--angle1">
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-4"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>
	<div class="cannon__path cannon__path--sm cannon__path--angle2">
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-4"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>



		<div class="cannon__path cannon__path--sm cannon__path--angle-7c">
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-1"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>

		<div class="cannon__path cannon__path--sm cannon__path--angle-6c">
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-4"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>


		<div class="cannon__path cannon__path--sm cannon__path--angle-5c">
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-2"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-3"></div>
		<div class="cannon__confetti cannon__confetti--ribbon cannon__confetti--color-1"></div>
		<div class="cannon__confetti cannon__confetti--flake cannon__confetti--color-4"></div>
		<div class="cannon__confetti-spacer"></div>
	</div>


</div>


<!-- 
<canvas #canvas style="background-color: transparent;" ></canvas>
 -->
 <div *ngIf='st1' style="    position: absolute;
    width: 100%;
    text-align: center;
    top: 30px;
    color:white;
    font-weight: 600;
        
    ">
    	<span style="font-size: 21px;">Felicitaciones! </span>
<br><br>
    	<span style="font-size: 17px;">Completaste tu Experience Line!!!! <br>
				Disfruta de tu premio!!!  
</span>
    </div>

<div *ngIf='!st1' style="    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 75px;
    color:white;
    font-weight: 600;
    font-size: 20px;">
<span>	Has Ganado un cupón</span>
<ion-card style='margin-top: 35px'  >

		<ion-card-content>
				<div style="
				display: inline-block;    width: 100%;
				">
				<img src="http://50.116.17.150:3000/{{cuponP.idFoto}}" 
				 onError="this.src='assets/imgs/fotocupon.png';" style="
				display: inline-block;
				height: 65px;
				width: 65px !important;
				vertical-align: top;
				">
				<div style="    display: inline-block;
    width: calc(100% - 105px);
    margin-left: 10px;
				">
				
				<span style="    display: block;
    font-size: 16px;

    font-weight: 800;
    color: #EC527E;">{{cuponP.nombreCupon}}</span>

    <span *ngIf='cuponP.nombresCentro' style="margin: 2px 0px 0px 0px;
				font-size: 14px;
				color: #999;display:block">Aplica en {{cuponP.nombresCentro.split(',').length}} Centros</span>

				<span class="itemComercio" style="    margin-top: 3px;
    display: block;
}">



<!-- 	<button  (click)='usarTicket(n.idCupon)' style='background-color: #2FD99B' ion-button small >Usar Ahora</button>	 -->
	


				</span>

				</div>
				</div>

		</ion-card-content>
		</ion-card>





</div>
	<div id="merrywrap" class="merrywrap " 

	[ngClass]="{ 'step-1': st1, 'step-2': st2, 'step-3': st3 }">


				<div class="giftbox " (click)='animacion1()'>
					<div class="cover">
						<div></div>
					</div>
					<div class="box"></div>
				</div>
<!-- 				<div class="icons">
					<div class="row">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50">
								<path d="M25,12.655c-6.196,0-11.236,5.04-11.236,11.235c0,3.393,1.517,6.431,3.9,8.492c0.376-0.318,0.859-0.522,1.395-0.533
									l1.771-3.541c-1.175-1.11-1.913-2.678-1.913-4.418c0-3.354,2.729-6.083,6.084-6.083s6.084,2.729,6.084,6.083
									c0,0.653-0.106,1.281-0.297,1.871l0.289,0.254c0.296-0.131,0.619-0.201,0.948-0.201c1.305,0,2.366,1.062,2.366,2.365
									c0,1.305-1.062,2.366-2.366,2.366c-1.087,0-2.006-0.737-2.281-1.738l-0.207-0.035l1.538,3.078c0.503,0.01,0.959,0.19,1.324,0.476
									c2.347-2.061,3.838-5.074,3.838-8.436C36.236,17.695,31.195,12.655,25,12.655z M16.344,25.201c-0.713,0-1.289-0.576-1.289-1.288
									c-0.008-0.713,0.576-1.289,1.28-1.289c0.713-0.008,1.288,0.567,1.296,1.28C17.631,24.617,17.057,25.192,16.344,25.201z
									M19.778,18.691c-0.259,0.249-0.583,0.378-0.919,0.378c-0.326,0-0.652-0.12-0.91-0.369c-0.498-0.507-0.508-1.322,0-1.829
									c0.498-0.498,1.314-0.498,1.82,0c0.508,0.498,0.508,1.313,0,1.82H19.778z M24.975,16.519c-0.713,0-1.289-0.575-1.289-1.288
									c0-0.704,0.576-1.288,1.28-1.288c0.713,0,1.296,0.575,1.296,1.288S25.688,16.519,24.975,16.519z M32.016,18.648
									c-0.248,0.258-0.583,0.387-0.918,0.387c-0.326,0-0.653-0.129-0.902-0.378c-0.506-0.498-0.506-1.313-0.008-1.82
									c0.497-0.508,1.314-0.508,1.82-0.01C32.515,17.335,32.515,18.15,32.016,18.648z M34.945,23.87c0,0.008,0,0.018,0,0.018
									c0,0.713-0.576,1.288-1.289,1.288s-1.287-0.575-1.287-1.288c0,0,0-0.01,0-0.018v-0.009c0-0.713,0.574-1.297,1.287-1.297
									c0.705,0,1.289,0.576,1.289,1.279c0,0,0,0,0,0.01C34.945,23.861,34.945,23.861,34.945,23.87z"/>
								<path d="M32.024,29.546c0.755,0,1.366-0.612,1.366-1.366s-0.611-1.365-1.366-1.365c-0.408,0-0.771,0.184-1.021,0.468l-5.937-5.212
									l-5.163,10.326h10.326l-2.469-4.938l2.921,0.493c-0.013,0.074-0.023,0.149-0.023,0.228C30.658,28.934,31.271,29.546,32.024,29.546z
									"/>
								<path d="M31.029,32.846H19.104c-0.655,0-1.192,0.505-1.192,1.122v2.245c0,0.617,0.537,1.122,1.192,1.122h11.926
									c0.655,0,1.192-0.505,1.192-1.122v-2.245C32.222,33.351,31.685,32.846,31.029,32.846z"/>
							</svg>
						</span>

					</div>
				</div> -->
			</div>
</ion-content>
<ion-footer>
	

    <button  *ngIf='!st1' (click)="closeModals()" color='headerColor' ion-button full style="     margin: 0px !important;  " >Aceptar</button>

</ion-footer>