<!--
  Generated template for the CuponesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

   <ion-buttons start>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>

    
    <ion-title>Cupones</ion-title>



          <ion-buttons end>

       

      </ion-buttons>



  </ion-navbar>



<div>


<!-- 	<span style="    vertical-align: middle;
    height: 100%;
    font-size: 17px;
    color: #333;
    margin-left: 12px;
    margin-top: 23px;
    display: inline-block;">Ingresar coupon</span> -->
  <ion-item class='redem' style='    padding-left: 0px !important;
    margin-left: 5px !important;' >

    <ion-input style='    background-color: white;
    border: solid 2px lightgray;
    border-radius: 30px;
    padding: 0px 10px;' [(ngModel)]="codigo" autocomplete='off' type="text" placeholder="Ingresar cupón"></ion-input>
  </ion-item>


	<button ion-button   style="    padding: 14px 30px;
    color: white;
    background-color: #2FD99B;
    margin: 12px 0px;
    float: right;
    margin-right: 9px;
    border-radius: 40px;
    font-size: 16px;" (click)='canjear(codigo)'>Usar cupón</button>

</div>


<ion-segment mode="md" [(ngModel)]="section" style='    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgba(0, 0, 0, 0.1);
    background: white;' >


    <ion-segment-button   style='    border-right: solid 2px rgb(0,0,0,0.1);  font-size: 15px;text-transform: none !important;' value="one" >
	       <span> 
	       <img  *ngIf='section=="one"' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/disponibleBlanco.png">
	       <img  *ngIf='!(section=="one")' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/disponibleGris.png">
	        Disponible</span>
	    </ion-segment-button>



	    <ion-segment-button  value="two" style='    border-right: solid 2px rgb(0,0,0,0.1); 
    	font-size: 15px;text-transform: none !important;' >
    	<span>
	      <img  *ngIf='section=="two"' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/usadosBlanco.png"> 
	      <img  *ngIf='!(section=="two")'  style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/usadosGris.png"> 

	      

	      Usado
	       </span>
	    </ion-segment-button>


	        <ion-segment-button   style='font-size: 15px;text-transform: none !important;' value="tres" >
	       <span> 
	       <img  *ngIf='section=="tres"' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/expireBlanco.png">
	       <img  *ngIf='!(section=="tres")' style='vertical-align: middle;margin-right: 10px;' src="assets/imgs/expireGris.png">
	        Expirado</span>
	    </ion-segment-button>



</ion-segment>




</ion-header>


<ion-content >




<div [ngSwitch]="section">
    <ion-list mode="md" *ngSwitchCase="'one'">


<div class='noResultado' *ngIf="(cupones | filtrofav: filtroDisponible)?.length === 0" >No tienes cupones disponibles</div>


		<ion-card   *ngFor="let n of cupones | filtrofav: filtroDisponible">

		<ion-card-content>
				<div style="
				display: inline-block;    width: 100%;
				">
				<img src="http://50.116.17.150:3000/{{n.idFoto}}" 
				 onError="this.src='assets/imgs/fotocupon.png';" 
				style="display: inline-block;
				height: 65px;
				width: 65px !important;
				vertical-align: top;
				">
				<div style="    display: inline-block;
    width: calc(100% - 105px);
    margin-left: 10px;
				">
				
				<span style="    display: block;
    font-size: 16px;

    font-weight: 800;
    color: #EC527E;">{{n.nombreCupon}}</span>

    <span style="margin: 2px 0px 0px 0px;
				font-size: 14px;
				color: #999;display:block">{{getNombreE(n.nombresCentro)}}</span>

				<span class="itemComercio" style="    margin-top: 3px;
    display: block;
}">



	<button  (click)='usarTicket(n.idCupon)' style='background-color: #2FD99B' ion-button small >Usar Ahora</button>	
	<br>
	<span style="  margin-right: 21px;  color: #888;
    font-size: 15px;"><ion-icon style='    margin-right: 8px;
   color:#2FD99B;
    font-size: 21px;
    vertical-align: middle;' name="md-calendar"></ion-icon>Expira {{n.fechaExpira?.split('T')[0]}}
	</span>

				</span>

				</div>
				</div>

		</ion-card-content>
		</ion-card>




		



    </ion-list>
  

    <ion-list mode="md" *ngSwitchCase="'two'">

    	<div class='noResultado' *ngIf="(cupones | filtrofav: filtroUsado)?.length === 0" >No has usado ningun cupón aun</div>
		<ion-card  *ngFor="let n of cupones | filtrofav: filtroUsado">

		<ion-card-content>
				<div style="
				display: inline-block;    width: 100%;
				">
				<img src="assets/imgs/fotocupon.png" style="
				display: inline-block;
				height: 90px;
				width: 90px !important;
				vertical-align: top;
				">
				<div style="    display: inline-block;
    width: calc(100% - 105px);
    margin-left: 10px;
				">
				
				<span style="    display: block;
    font-size: 16px;

    font-weight: 800;
    color: #EC527E;">{{n.nombreCupon}}</span>

    <span style="margin: 2px 0px 0px 0px;
				font-size: 19px;
				color: #333;display:block">{{n.nombreCentro}}</span>

				<span class="itemComercio" style="    margin-top: 13px;
    display: block;
}">

					<span style="  margin-right: 21px;  color: #888;
    font-size: 15px;"><ion-icon style='    margin-right: 8px;
   color:#2FD99B;
    font-size: 21px;
    vertical-align: middle;' name="md-calendar"></ion-icon>{{n.fechaUso?.split('T')[0]}}</span>

					<span style="     color: #888;
    font-size: 15px;  "><ion-icon style='  margin-right: 8px;      vertical-align: middle;   font-size: 21px;color:#2FD99B;
    font-weight: 800;' name="md-checkbox"></ion-icon>Usado</span>

				</span>

				</div>
				</div>

		</ion-card-content>
		</ion-card>






    </ion-list>


    <ion-list mode="md" *ngSwitchCase="'tres'">


<div class='noResultado' *ngIf="(cupones | filtrofav: filtroExpirado)?.length === 0" >No tienes cupones expirados</div>

		<ion-card *ngFor="let n of cupones | filtrofav: filtroExpirado">

		<ion-card-content>
				<div style="
				display: inline-block;    width: 100%;
				">
				<img src="assets/imgs/fotocupon.png" style="
				display: inline-block;
				height: 90px;
				width: 90px !important;
				vertical-align: top;
				">
				<div style="    display: inline-block;
    width: calc(100% - 105px);
    margin-left: 10px;
				">
				
				<span style=" text-decoration: line-through;   display: block;
    font-size: 16px;

    font-weight: 800;
    color: #EC527E;">{{n.nombreCupon}}</span>

    <span style="margin: 2px 0px 0px 0px;
				font-size: 19px;
				color: #333;display:block">{{n.nombreCentro}}</span>

				<span class="itemComercio" style="    margin-top: 13px;
    display: block;
}">

					<span style="  text-decoration: line-through; margin-right: 21px;  color: #888;
    font-size: 15px;"><ion-icon style='    margin-right: 8px;
   color:#EC527E;
    font-size: 21px;
    vertical-align: middle;' name="md-calendar"></ion-icon>{{n.fechaExpira?.split('T')[0]}}</span>

					<span style="     color: #888;
    font-size: 15px;  "><ion-icon style='  margin-right: 8px;      vertical-align: middle;   font-size: 21px;color:#EC527E;
    font-weight: 800;' name="md-close-circle"></ion-icon>Expirado</span>

				</span>

				</div>
				</div>

		</ion-card-content>
		</ion-card>




    </ion-list>
</div>


</ion-content>


<!-- <ion-footer>
  <div  style="text-align: center;
    color: #999;
    font-size: 16px;
    margin: 17px;" (click)='fcompartir()'><a>Comparte </a> Yourbeauty con tus amigos y gana premios asombrosos</div>
</ion-footer> -->


