page-lista-servicios {



.content-ios {
    background-color: rgb(247,248,249);
}






ion-select {

       max-width: 100%;
}

.select-ios .select-icon .select-icon-inner {

    color: white !important;
}



}
