page-confirmacionpaquete {

 .even {     background: white !important; }
    .odd {     background: #fafafa !important; }


.content-ios {
    background-color: rgb(247,248,249);
}


.itemComercio{
	
	    font-size: 15px;
    color: #999;
    display: block;
    margin: 4px 0px;

}


.separator{
	
	    height: 2px;
    background: rgba(230, 230, 230, 0.74);
    margin-left: 32px;
    margin: 27px 32px;
}



.item-ios.item-block .item-inner {

    border-bottom: none !important;
}


}
